{% extends "base.html" %}

{% block content %}
  <h1>Titulo: {{ libro.titulo }}</h1>

  <p><strong>Autor:</strong> <a href="{% url 'detalle_autor' libro.autor.pk %}">{{ libro.autor }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Sinopsis:</strong> {{ libro.sinopsis }}</p>
  <p><strong>ISBN:</strong> {{ libro.isbn }}</p>
  <p><strong>idioma:</strong> {{ libro.idioma }}</p>
  <p><strong>Genero:</strong> {% for genero in libro.genero.all %} {{ genero }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copias</h4>

    {% for copy in libro.libroinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Imprint:</strong> {{copy.impreso}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock %}
